<p>
      This is the Customer page for the Work Bench Application. This is where the user will add new customers , edit their info create claims, etc. Basically every interaction with the customer.
</p>